<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body>
    <div class="flex items-center">
        <button class="p-2 border border-gray-300 rounded-l focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7 10a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2H7z" clip-rule="evenodd" />
          </svg>
        </button>
        <input type="number" class="border border-gray-300 focus:outline-none focus:ring-1 focus:ring-blue-500 rounded-none px-3 py-2">
        <button class="p-2 border border-gray-300 rounded-r focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7 7a1 1 0 0 1 2 0v6a1 1 0 0 1-2 0V7z" clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M7 13a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2H7z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
</body>
</html>